<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 Project</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>University Database Admin</h1>
    
    <nav>
        <a href="/">Home</a> | 
        <a href="/universities">Universities</a> | 
        <a href="/athletics">Athletics</a> | 
        <a href="/majors">Majors</a> | 
        <a href="/costs">Costs</a> | 
        <a href="/tuition">Tuition</a> | 
        <a href="/universities_has_athletics">Assign Sports</a> | 
        <a href="/universities_has_majors">Assign Majors</a>
    </nav>

    <main>
        {{{body}}}
    </main>

</body>
</html>