<h2>Assign Majors to Universities (M:N)</h2>

<fieldset>
    <legend>Existing Assignments</legend>
    <table border="1">
        <thead>
            <tr>
                <th>University</th>
                <th>Major</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oregon State University</td>
                <td>Computer Science</td>
                <td><button>Delete</button></td>
            </tr>
            <tr>
                <td>Oregon State University</td>
                <td>Business Administration</td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</fieldset>
<br>

<fieldset>
    <legend>Assign a Major to a University</legend>
    <form>
        <label>University:</label>
        <select name="universityID">
            <option value="1">Oregon State University</option>
            <option value="2">UCLA</option>
            <option value="3">Washington University in St. Louis</option>
        </select>

        <label>Major:</label>
        <select name="majorID">
            <option value="1">Undergraduate - Computer Science</option>
            <option value="2">Undergraduate - Business Administration</option>
            <option value="3">Graduate - Public Health</option>
        </select>
        
        <input type="submit" value="Assign Major">
    </form>
</fieldset>